<div class="min-h-screen flex flex-col bg-[#1e1e1e]">
  <p-splitter [style]="{ height: '100px' }" styleClass="mb-8" layout="vertical">
    <ng-template pTemplate="1">
      <div class="flex items-center justify-center h-full text-white">
        D3 Finance
      </div>
    </ng-template>
  </p-splitter>

  <div class="relative flex-grow">

    <div class="absolute top-0 left-4 z-10">
      <app-nav-bar-system></app-nav-bar-system>
      <p-toast></p-toast>
    </div>

    <div class="absolute inset-0 flex flex-col items-center justify-start pt-8 space-y-8">
      <div class="card w-full max-w-lg p-8">
        <p-toast></p-toast>
        <p-fileupload name="arquivo" url="http://localhost:8000/v1/importar-transacoes" (onUpload)="onUpload($event)"
          [multiple]="true" accept=".xml, .csv" maxFileSize="1000000000" mode="advanced"
          chooseLabel="Selecionar Arquivos" uploadLabel="Enviar" cancelLabel="Cancelar">
          <ng-template #empty>
            <div class="text-center text-white">
              Arraste e solte os arquivos aqui para fazer upload
            </div>
          </ng-template>
          <ng-template #content>
            <ul *ngIf="uploadedFiles.length" class="text-white">
              <li *ngFor="let file of uploadedFiles">
                {{ file.name }} - {{ file.size }} bytes
              </li>
            </ul>
          </ng-template>
        </p-fileupload>
      </div>
    </div>

  </div>
  <app-footer class="mt-auto"></app-footer>
</div>