<app-header-system></app-header-system>
<div class="flex flex-row flex-grow px-4 gap-4">
    <div class="flex-shrink-0">
        <app-nav-bar-system></app-nav-bar-system>
    </div>

    <p>Aqui o usuário vai poder cadastrar todas as despesas que tem previsão de pagar, com valor, data... e terá um botão
        efetuar pagamento ai o sistema irá fazer o cadastro dessa despesa o usuario terá que informar a conta que saira
        o valor para pagar nesse momento</p>

</div>



<app-footer class="mt-auto"></app-footer>