<div class="min-h-screen flex flex-col bg-[#1e1e1e]">
    <p-splitter [style]="{ height: '100px' }" styleClass="mb-8" layout="vertical">
        <ng-template pTemplate="1">
            <div class="flex items-center justify-center h-full text-white">
                D3 Finance
            </div>
        </ng-template>
    </p-splitter>

    <div class="flex flex-row flex-grow">
        <div class="ml-3 mr-3">
            <app-nav-bar-system></app-nav-bar-system>
            <p-toast></p-toast>
        </div>

        <div class="flex flex-col flex-grow p-4 space-y-6">

            <div class="flex flex-wrap items-center gap-4 p-4 bg-[#2c2c2c] rounded-lg">

                <div class="flex flex-col">
                    <label class="text-sm text-gray-400 mb-1">Filtrar por Mês/Ano</label>
                    <p-calendar [(ngModel)]="filtro.dataSelecionada" view="month" dateFormat="mm/yy"
                        [readonlyInput]="true" placeholder="Selecione o período"
                        (onSelect)="filtrarDados()"></p-calendar>
                </div>


                <div class="flex flex-col justify-end">
                    <button pButton type="button" label="Limpar" icon="pi pi-times"
                        class="p-button-secondary mt-[1.15rem]" (click)="limparFiltros()"></button>
                </div>
            </div>

            <p-card header="Receitas por Ano/Mês" class="bg-[#2c2c2c] text-white">
                <div class="h-[30rem]">
                    <p-chart type="bar" [data]="dataCategorias" [options]="optionsCategorias"></p-chart>
                </div>
            </p-card>

            <div class="flex flex-col">
                <label class="text-sm text-gray-400 mb-1">Filtrar por Categoria</label>
                <p-dropdown [options]="categoriasOpcoes" [(ngModel)]="filtro.categoria"
                    placeholder="Todas as categorias" (onChange)="filtrarDados()"
                    [style]="{ 'width': '250px' }"></p-dropdown>
            </div>
            <div class="flex flex-col">
                <button pButton type="button" label="Limpar" icon="pi pi-times" class="p-button-secondary mt-[1.15rem]"
                    (click)="limparFiltros()"></button>
            </div>

            <p-card header="Receitas por Categorias" class="bg-[#2c2c2c] text-white">
                <div class="h-[30rem]">
                    <p-chart type="bar" [data]="dataCategorias" [options]="optionsCategorias"></p-chart>
                </div>
            </p-card>

        </div>
    </div>
    <app-footer class="mt-auto"></app-footer>
</div>