<div class="min-h-screen flex flex-col bg-[#1e1e1e]">

    <p-splitter [style]="{ height: '100px' }" styleClass="mb-8" layout="vertical">
        <ng-template #panel>
            <div class="flex items-center justify-center h-full">D3 Finance</div>
        </ng-template>
    </p-splitter>


    <div class="flex flex-row">
        <div class="mr-3 ml-3">
            <app-nav-bar-system></app-nav-bar-system>
        </div>

        <div class="flex-auto ml-3 mr-3">
            <p-chart type="bar" [data]="data" [options]="options" class="h-[30rem]" />
        </div>
    </div>
    <app-footer class="mt-auto"></app-footer>
</div>