<div class="min-h-screen flex flex-col bg-[#1e1e1e]">
    <app-header-system></app-header-system>

    <div class="flex flex-row flex-grow px-4 gap-4">
        <div class="flex-shrink-0">
            <app-nav-bar-system></app-nav-bar-system>
            <p-toast></p-toast>
        </div>

        <div class="flex flex-col flex-grow space-y-6 items-center">
            <div class="flex flex-col space-y-4">
                <p-card class="w-full max-w-7xl">
                    <p-tabMenu [model]="tabItems" [(activeItem)]="activeTab" (activeItemChange)="onTabChange($event)"
                        class="mb-6 w-full max-w-5xl self-center">
                    </p-tabMenu>

                    <div *ngIf="activeTab.label === 'Contas e Saldo'"
                        class="flex flex-col items-center justify-center px-4 py-8 w-full">
                        <h1>Filtros</h1>
                        <div
                            class="grid grid-cols-1 md:grid-cols-4 gap-4 bg-[#2a2a2a] p-4 rounded w-full max-w-5xl mb-6">
                            <div>
                                <label class="block text-sm mb-1">Tipo</label>
                                <p-multiselect [options]="tipoContas" (onChange)="onFilterChange()"
                                    [(ngModel)]="filters.tipoConta" optionLabel="name" placeholder="Selecione um tipo"
                                    [maxSelectedLabels]="3"
                                    class="w-full bg-[#1e1e1e] text-white border border-gray-600" />
                            </div>
                            <div>
                                <label class="block text-sm mb-1">Contas</label>
                                <input type="text" [(ngModel)]="filters.conta" (input)="onFilterChange()"
                                    class="p-inputtext w-full bg-[#1e1e1e] border border-gray-600 text-white rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                                    placeholder="Pesquisar contas..." />
                            </div>
                        </div>
                        <div class="p-4 w-full max-w-5xl bg-[#2a2a2a] rounded">
                            <p-table [value]="filteredContas" [paginator]="true" [rows]="rows" [first]="first"
                                (onPage)="pageChange($event)" class="p-datatable-sm p-datatable-gridlines"
                                [responsiveLayout]="'scroll'" [autoLayout]="true">
                                <ng-template pTemplate="header">
                                    <tr class="bg-gray-700 text-gray-100">
                                        <th>Tipo</th>
                                        <th>Nome</th>
                                        <th>Saldo</th>
                                        <th>Ações</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-conta let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{ conta.tipo_conta }}</td>
                                        <td>{{ conta.nome_conta }}</td>
                                        <td>{{ conta.saldo | currency:'BRL':'symbol':'1.2-2' }}</td>
                                        <td class="flex gap-2">
                                            <button pButton type="button" icon="pi pi-pencil"
                                                class="p-button-sm p-button-rounded p-button-info"
                                                (click)=" abrirEdicao(conta)"></button>
                                            <button pButton type="button" icon="pi pi-trash"
                                                class="p-button-sm p-button-rounded p-button-danger"
                                                (click)="apagarItem(rowIndex)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                    <div *ngIf="activeTab.label === 'Receitas X Despesas'"
                        class="flex flex-col items-center justify-center px-4 py-8 w-full">
                        <div class="w-full max-w-5xl bg-[#2a2a2a] p-6 rounded">
                            <h2 class="text-xl font-semibold mb-4 text-white">Receitas vs Despesas - Ano {{ anoAtual }}</h2>
                            <div class="h-[30rem]">
                                <p-chart type="line" [data]="data" [options]="options" style="height: 100%" />
                            </div>
                        </div>
                    </div>

                    <div *ngIf="activeTab.label === 'Receitas'"
                        class="flex flex-col items-center justify-center px-4 py-8 w-full">
                        <h1>Filtros</h1>
                        <div class="grid grid-cols-1 md:grid-cols-5 gap-4 bg-[#2a2a2a] p-4 rounded w-full max-w-5xl mb-6">
                            <div>
                                <label class="block text-sm mb-1">Categoria</label>
                                <p-multiselect [options]="categoriaDaReceita" (onChange)="onFilterChange()"
                                    [(ngModel)]="filters.categoria" optionLabel="name"
                                    placeholder="Selecione uma categoria" [maxSelectedLabels]="3"
                                    class="w-full bg-[#1e1e1e] text-white border border-gray-600"
                                    [showClear]="true"></p-multiselect>
                            </div>
                            <div>
                                <label class="block text-sm mb-1">Descrição</label>
                                <input type="text" [(ngModel)]="filters.desc" (input)="onFilterChange()"
                                    class="p-inputtext w-full bg-[#1e1e1e] border border-gray-600 text-white rounded px-2 py-1"
                                    placeholder="Pesquisar descrição..." />
                            </div>
                            <div>
                                <label class="block text-sm mb-1">Contas</label>
                                <input type="text" [(ngModel)]="filters.conta" (input)="onFilterChange()"
                                    class="p-inputtext w-full bg-[#1e1e1e] border border-gray-600 text-white rounded px-2 py-1"
                                    placeholder="Pesquisar contas..." />
                            </div>
                            <div>
                                <label class="text-sm mb-1">Data</label>
                                <p-datepicker [(ngModel)]="filters.data" (onSelect)="onFilterChange()"
                                    dateFormat="dd/mm/yy" inputId="filtroDataReceitas"
                                    placeholder="dd/mm/aaaa" [showButtonBar]="true" [showIcon]="true">
                                </p-datepicker>
                            </div>
                            <div>
                                <label class="text-sm mb-1">Forma de Recebimento</label>
                                <p-dropdown [options]="formasPagsComTodas" [(ngModel)]="filters.forma_recebimento"
                                    (onChange)="onFilterChange()" optionLabel="name" optionValue="name"
                                    placeholder="Todas as formas"
                                    class="w-full bg-[#1e1e1e] text-white border border-gray-600" [showClear]="true">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="bg-[#2a2a2a] p-6 w-full max-w-5xl">
                            <p-table [value]="filteredReceitas" [paginator]="true" [rows]="rows" [first]="first"
                                (onPage)="pageChange($event)" class="p-datatable-sm p-datatable-gridlines">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Categoria</th>
                                        <th>Descrição</th>
                                        <th>Conta</th>
                                        <th>Valor</th>
                                        <th>Forma de Recebimento</th>
                                        <th>Data de Recebimento</th>
                                        <th>Ações</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{ item.categoria }}</td>
                                        <td>{{ item.descricao }}</td>
                                        <td>{{ item.conta_nome }}</td>
                                        <td>{{ item.valor_recebido | currency:'BRL':'symbol':'1.2-2' }}</td>
                                        <td>{{item.forma_recebimento}}</td>
                                        <td>{{ item.data_recebimento | date:'dd/MM/yyyy' }}</td>
                                        <td class="flex gap-2">
                                            <button pButton type="button" icon="pi pi-pencil"
                                                class="p-button-sm p-button-rounded p-button-info"
                                                (click)=" abrirEdicao(item)"></button>
                                            <button pButton type="button" icon="pi pi-trash"
                                                class="p-button-sm p-button-rounded p-button-danger"
                                                (click)="apagarItem(rowIndex)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                    <div *ngIf="activeTab.label === 'Despesas'"
                        class="flex flex-col items-center justify-center px-4 py-8 w-full">
                        <h1>Filtros</h1>
                        <div class="grid grid-cols-1 md:grid-cols-5 gap-4 bg-[#2a2a2a] p-4 w-full max-w-5xl mb-6">
                            <div>
                                <label class="block text-sm mb-1">Categoria</label>
                                <p-multiselect [options]="categoriaDaDespesa" (onChange)="onFilterChange()"
                                    [(ngModel)]="filters.categoria" optionLabel="name"
                                    placeholder="Selecione uma categoria" [maxSelectedLabels]="3"
                                    class="w-full bg-[#1e1e1e] text-white border border-gray-600" />
                            </div>
                            <div>
                                <label class="block text-sm mb-1">Descrição</label>
                                <input type="text" [(ngModel)]="filters.desc" (input)="onFilterChange()"
                                    class="p-inputtext w-full bg-[#1e1e1e] border border-gray-600 text-white rounded px-2 py-1"
                                    placeholder="Pesquisar descrição..." />
                            </div>
                            <div>
                                <label class="block text-sm mb-1">Contas</label>
                                <input type="text" [(ngModel)]="filters.conta" (input)="onFilterChange()"
                                    class="p-inputtext w-full bg-[#1e1e1e] border border-gray-600 text-white rounded px-2 py-1"
                                    placeholder="Pesquisar contas..." />
                            </div>
                            <div>
                                <label class="text-sm mb-1">Data</label>
                                <p-datepicker [(ngModel)]="filters.data" (onSelect)="onFilterChange()"
                                    dateFormat="dd/mm/yy" inputId="filtroDataReceitas"
                                    placeholder="dd/mm/aaaa" [showButtonBar]="true" [showIcon]="true">
                                </p-datepicker>
                            </div>
                            <div>
                                <label class="block text-sm mb-1">Forma de Pagamento</label>
                                <p-dropdown [options]="formasPagsComTodas" [(ngModel)]="filters.forma_pagamento"
                                    (onChange)="onFilterChange()" optionLabel="name" optionValue="name"
                                    placeholder="Todas as formas"
                                    class="w-full bg-[#1e1e1e] text-white border border-gray-600" [showClear]="true">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="bg-[#2a2a2a] p-6 w-full max-w-5xl">
                            <p-table [value]="filteredDespesas" [paginator]="true" [rows]="rows" [first]="first"
                                (onPage)="pageChange($event)" class="p-datatable-sm p-datatable-gridlines">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Categoria</th>
                                        <th>Descrição</th>
                                        <th>Conta</th>
                                        <th>Valor</th>
                                        <th>Forma de Pagamento</th>
                                        <th>Data de Pagamento</th>
                                        <th>Ações</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{ item.categoria }}</td>
                                        <td>{{ item.descricao }}</td>
                                        <td>{{ item.conta_nome}}</td>
                                        <td>{{ item.valor_pago | currency:'BRL':'symbol':'1.2-2' }}</td>
                                        <td>{{ item.forma_pagamento}}</td>
                                        <td>{{ item.data_pagamento | date:'dd/MM/yyyy' }}</td>
                                        <td class="flex gap-2">
                                            <button pButton type="button" icon="pi pi-pencil"
                                                class="p-button-sm p-button-rounded p-button-info"
                                                (click)="abrirEdicao(item)"></button>
                                            <button pButton type="button" icon="pi pi-trash"
                                                class="p-button-sm p-button-rounded p-button-danger"
                                                (click)="apagarItem(rowIndex)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                    <div *ngIf="activeTab.label === 'Transações'"
                        class="flex flex-col items-center justify-center px-4 py-8 w-full">
                        <h1>Filtros</h1>
                        <div
                            class="grid grid-cols-1 md:grid-cols-4 gap-4 bg-[#2a2a2a] p-4 rounded w-full max-w-5xl mb-6">
                            <div>
                                <label class="block text-sm mb-1">Contas</label>
                                <input type="text" [(ngModel)]="filters.conta" (input)="onFilterChange()"
                                    class="p-inputtext w-full bg-[#1e1e1e] border border-gray-600 text-white rounded px-2 py-1"
                                    placeholder="Pesquisar contas..." />
                            </div>
                            <div>
                                <label class="text-sm mb-1">Data</label>
                                <p-datepicker [(ngModel)]="filters.data" (onSelect)="onFilterChange()"
                                    dateFormat="dd/mm/yy" inputId="filtroDataTransacoes"
                                    placeholder="dd/mm/aaaa" [showButtonBar]="true" [showIcon]="true">
                                </p-datepicker>
                            </div>
                            <div>
                                <label class="block text-sm mb-1">Valor</label>
                                <p-inputNumber [(ngModel)]="filters.valor" (onInput)="onFilterChange()"
                                    mode="currency" currency="BRL" locale="pt-BR"
                                    
                                    placeholder="Digite o valor..." />
                            </div>
                        </div>
                        <div class="bg-[#2a2a2a] p-6 w-full max-w-5xl">
                            <p-table [value]="filteredTransacoes" [paginator]="true" [rows]="rows" [first]="first"
                                (onPage)="pageChange($event)" class="p-datatable-sm p-datatable-gridlines">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Conta de Origem</th>
                                        <th>Conta de Destino</th>
                                        <th>Valor</th>
                                        <th>Data da Transação</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{ item.conta_origem_nome }}</td>
                                        <td>{{ item.conta_destino_nome }}</td>
                                        <td>{{ item.valor | currency:'BRL':'symbol':'1.2-2' }}</td>
                                        <td>{{ item.data_transacao | date:'dd/MM/yyyy' }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>

    <p-confirmDialog></p-confirmDialog>

    <p-dialog [header]="tituloModal" [(visible)]="editDialogVisible" [modal]="true" [closable]="true"
        [style]="{ width: '600px' }" (onHide)="fecharModalEdicao()" [baseZIndex]="10000"
        styleClass="edit-dialog">
        <ng-template pTemplate="content">
            <div class="space-y-4">
                <!-- Edição de Conta -->
                <div *ngIf="tipoItemEmEdicao === 'conta'" class="space-y-4">
                    <div class="field">
                        <label for="tipoConta" class="block text-sm font-medium text-gray-300 mb-2">Tipo de Conta</label>
                        <p-dropdown id="tipoConta" [(ngModel)]="itemEmEdicao.tipo_conta" [options]="tipoContas"
                            optionLabel="name" optionValue="name" [appendTo]="'body'"
                            placeholder="Selecione um tipo" class="w-full">
                        </p-dropdown>
                    </div>
                    <div class="field">
                        <label for="nomeConta" class="block text-sm font-medium text-gray-300 mb-2">Nome da Conta</label>
                        <input id="nomeConta" type="text" pInputText [(ngModel)]="itemEmEdicao.nome_conta" 
                            class="w-full p-3 bg-[#2a2a2a] border border-gray-600 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
                    </div>
                </div>

                <!-- Edição de Receita -->
                <div *ngIf="tipoItemEmEdicao === 'receita'" class="space-y-4">
                    <div class="field">
                        <label for="categoriaReceita" class="block text-sm font-medium text-gray-300 mb-2">Categoria</label>
                        <p-dropdown id="categoriaReceita" [(ngModel)]="itemEmEdicao.categoria"
                            [options]="categoriaDaReceita" optionLabel="name" optionValue="name" [appendTo]="'body'"
                            placeholder="Selecione uma categoria" class="w-full">
                        </p-dropdown>
                    </div>
                    <div class="field">
                        <label for="descricaoReceita" class="block text-sm font-medium text-gray-300 mb-2">Descrição</label>
                        <input id="descricaoReceita" type="text" pInputText [(ngModel)]="itemEmEdicao.descricao" 
                            class="w-full p-3 bg-[#2a2a2a] border border-gray-600 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
                    </div>
                    <div class="field">
                        <label for="contaReceita" class="block text-sm font-medium text-gray-300 mb-2">Conta</label>
                        <p-dropdown id="contaReceita" [(ngModel)]="itemEmEdicao.conta_id" [options]="contas"
                            optionLabel="nome_conta" optionValue="id" [appendTo]="'body'"
                            placeholder="Selecione uma conta" class="w-full" (onChange)="onContaChange()">
                        </p-dropdown>
                    </div>
                    <div class="field">
                        <label for="valorReceita" class="block text-sm font-medium text-gray-300 mb-2">Valor</label>
                        <p-inputNumber id="valorReceita" [(ngModel)]="itemEmEdicao.valor_recebido" mode="currency"
                            currency="BRL" locale="pt-BR" class="w-full">
                        </p-inputNumber>
                    </div>
                    <div class="field">
                        <label for="formaRecebimento" class="block text-sm font-medium text-gray-300 mb-2">Forma de Recebimento</label>
                        <p-dropdown id="formaRecebimento" [(ngModel)]="itemEmEdicao.forma_recebimento" 
                            [options]="formasPags" optionLabel="name" optionValue="name" [appendTo]="'body'"
                            placeholder="Selecione uma forma" class="w-full"  />
                    </div>
                    <div class="field">
                        <label for="dataRecebimento" class="block text-sm font-medium text-gray-300 mb-2">Data de Recebimento</label>
                        <p-calendar id="dataRecebimento" [(ngModel)]="itemEmEdicao.data_recebimento" 
                            dateFormat="dd/mm/yy" placeholder="dd/mm/aaaa" [showButtonBar]="true" class="w-full" 
                        [showIcon]="true">
                        </p-calendar>
                    </div>
                </div>

                <!-- Edição de Despesa -->
                <div *ngIf="tipoItemEmEdicao === 'despesa'" class="space-y-4">
                    <div class="field">
                        <label for="categoriaDespesa" class="block text-sm font-medium text-gray-300 mb-2">Categoria</label>
                        <p-dropdown id="categoriaDespesa" [(ngModel)]="itemEmEdicao.categoria"
                            [options]="categoriaDaDespesa" optionLabel="name" optionValue="name" [appendTo]="'body'"
                            placeholder="Selecione uma categoria" class="w-full">
                        </p-dropdown>
                    </div>
                    <div class="field">
                        <label for="descricaoDespesa" class="block text-sm font-medium text-gray-300 mb-2">Descrição</label>
                        <input id="descricaoDespesa" type="text" pInputText [(ngModel)]="itemEmEdicao.descricao" 
                            class="w-full p-3 bg-[#2a2a2a] border border-gray-600 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
                    </div>
                    <div class="field">
                        <label for="contaDespesa" class="block text-sm font-medium text-gray-300 mb-2">Conta</label>
                        <p-dropdown id="contaDespesa" [(ngModel)]="itemEmEdicao.conta_id" [options]="contas"
                            optionLabel="nome_conta" optionValue="id" [appendTo]="'body'"
                            placeholder="Selecione uma conta" class="w-full" (onChange)="onContaChange()">
                        </p-dropdown>
                    </div>
                    <div class="field">
                        <label for="valorDespesa" class="block text-sm font-medium text-gray-300 mb-2">Valor</label>
                        <p-inputNumber id="valorDespesa" [(ngModel)]="itemEmEdicao.valor_pago" mode="currency" 
                            currency="BRL" locale="pt-BR" class="w-full">
                        </p-inputNumber>
                    </div>
                    <div class="field">
                        <label for="formaPagamento" class="block text-sm font-medium text-gray-300 mb-2">Forma de Pagamento</label>
                        <p-dropdown id="formaPagamento" [(ngModel)]="itemEmEdicao.forma_pagamento"
                            [options]="formasPags" optionLabel="name" optionValue="name" [appendTo]="'body'"
                            placeholder="Selecione uma forma" class="w-full" />
                    </div>
                    <div class="field">
                        <label for="dataPagamento" class="block text-sm font-medium text-gray-300 mb-2">Data de Pagamento</label>
                        <p-calendar id="dataPagamento" [(ngModel)]="itemEmEdicao.data_pagamento" 
                            dateFormat="dd/mm/yy" placeholder="dd/mm/aaaa" [showButtonBar]="true" class="w-full" 
                        [showIcon]="true">
                        </p-calendar>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="flex justify-end gap-2">
                <button pButton label="Cancelar" icon="pi pi-times" 
                    class="p-button-secondary" (click)="fecharModalEdicao()">
                </button>
                <button pButton label="Salvar" icon="pi pi-check" 
                    class="p-button-success" (click)="salvarEdicao()">
                </button>
            </div>
        </ng-template>
    </p-dialog>


    <app-footer class="mt-auto"></app-footer>
</div>