<app-nav-bar></app-nav-bar>

<div class="flex justify-center items-center min-h-screen space-x-6">
  <p-card [style]="{ width: '30rem', overflow: 'hidden' }">
    <ng-template #header>
      <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <ng-template #title> Filipe Eduardo </ng-template>
    <ng-template #subtitle> Super DEV </ng-template>
    <p>
      Sou um cara muito legal. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident exercitationem neque tenetur modi fugiat, enim commodi voluptatum id consectetur?
    </p>
    <ng-template #footer>
      <div class="flex gap-2 mt-2 justify-between">
        <a href="https://www.instagram.com/filipeeduw/" target="_blank">
          <i class="pi pi-instagram" style="font-size: 3.5rem; color: #e66b94;"></i>
        </a>
        <div class="qrcode-wrapper">
          <h3>GitHub Filipe:</h3>
          <qrcode [qrdata]="githubFilipe" [width]="80" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <a href="https://www.linkedin.com/in/filipewienhage/">
          <i class="pi pi-linkedin" style="font-size: 3.5rem; color: #0e76a8;"></i>
        </a>
      </div>
    </ng-template>
  </p-card>
  
  <p-card [style]="{ width: '30rem', overflow: 'hidden' }">
    <ng-template #header>
      <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <ng-template #title> Luis Spezia </ng-template>
    <ng-template #subtitle> Super DEV </ng-template>
    <p>
      Sou um cara muito legal. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident exercitationem neque tenetur modi fugiat, enim commodi voluptatum id consectetur?
    </p>
    <ng-template #footer>
      <div class="flex gap-1 mt-3 justify-between">
        <a href="https://instagram.com/lhspezia" target="_blank">
          <i class="pi pi-instagram" style="font-size: 3.5rem; color: #e66b94;"></i>
        </a>
        <div class="qrcode-wrapper">
          <h3>GitHub Luis:</h3>
          <qrcode [qrdata]="githubSpezia" [width]="80" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <!-- falta colocar o
