main {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 5%;
}
.main_info {
    max-width: 570px;
}

.main_info h1 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.main_info p {
    font-size: 30px;
    text-align: center;
}

.main_info div {
    display: flex;
    padding: 50px;
}

.main_info div a, .main_info div button {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transform: skew(-15deg);
}

button {
    background-color: red;
    color: white;
    border: 2px solid white;
}

button:hover {
    background-color: white;
    color: red;
}

@keyframes emergeDoBotao {
    from {
        opacity: 0;
        transform: translateY(150px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}


.titulo-animado {
    opacity: 0;  
    animation: emergeDoBotao 0.8s ease-out forwards;
    animation-delay: 0.3s; 
}

.paragrafo-animado {
    opacity: 0;  
    animation: emergeDoBotao 0.8s ease-out forwards;
    animation-delay: 0.5s; 
}