<div class="min-h-screen flex flex-col bg-[#1e1e1e]">
    <app-nav-bar></app-nav-bar>
    <main>
        <div class="main_info">
            <h1 class="titulo-animado">
                Inteligência financeira para o sucesso estratégico!
            </h1>
            <p class="paragrafo-animado">
                Simplificamos a maneira como você administra o dinheiro da sua empresa. Com uma interface intuitiva e recursos poderosos,
                 nossa plataforma otimiza seus processos financeiros! 
            </p>
    
            <div class="main_info">
                <a href="/cadastro"><button>Experimente Gratuitamente</button></a>
            </div>
        </div>

        <div>
            <img src="assets/imagens/logosemfundo2.png" alt="">
        </div>
    </main>

    <app-footer class="mt-auto"></app-footer>
</div>