<app-nav-bar></app-nav-bar>
<div class="container">
      <section>
            <h1 class="titulo">DESCUBRA UMA NOVA<span> FORMA DE AVALIAR-TESTE</span></h1>
            <br>
            <p class="texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci provident officia at maiores ipsum. Ut mollitia optio facilis, laborum architecto soluta natus dolor quisquam placeat suscipit minima doloribus iure dolores?
            Adipisci, esse labore. Velit omnis corporis ut enim. Ullam minus officia alias animi fugiat quibusdam id quos suscipit odit qui et veniam sed praesentium sit, atque harum magnam pariatur velit!
            Ut commodi dolorem explicabo ducimus. Hic aspernatur quos, est qui rerum voluptas accusantium, ipsum ipsa provident iure aliquam. Ex voluptas mollitia animi doloribus exercitationem fuga aspernatur repudiandae fugit in illum.
            Eveniet incidunt ut quibusdam ducimus necessitatibus, esse, beatae dicta pariatur dolorum at cum voluptas laboriosam! Qui amet doloribus itaque expedita perspiciatis? Molestiae voluptatum a est minus voluptates tempora alias accusantium.
            Libero eaque exercitationem magnam porro assumenda facere. Voluptatibus officiis ex vel ratione voluptatum, similique libero id nostrum rem doloribus eius dolorem magnam dignissimos labore unde harum excepturi eveniet sed atque?
            Ut nisi impedit ad neque excepturi architecto doloremque atque tenetur non earum id a iusto consequuntur animi laborum unde modi repellat, autem itaque enim soluta aliquam veritatis incidunt illum. Voluptate!
            Molestias inventore laudantium doloribus nesciunt harum? Molestiae adipisci numquam voluptatem omnis velit. Corporis, explicabo, debitis beatae, facere sunt aliquam dicta obcaecati commodi provident maiores vel? Exercitationem laudantium quaerat eos distinctio?
            Deserunt recusandae distinctio aliquam enim nostrum commodi non labore! Recusandae, totam qui. Tenetur excepturi autem eveniet amet sed velit exercitationem officia eaque, cupiditate, vero laborum placeat iste vel cumque sequi.
            Totam recusandae, velit minima eligendi et molestias esse tempora culpa excepturi natus illum dolorem adipisci perspiciatis explicabo assumenda blanditiis, vitae facilis fugiat. Rerum sapiente recusandae quidem exercitationem molestias, similique veritatis?
            Excepturi sunt qui minima ad quidem, fugiat, at neque dolore obcaecati enim ullam assumenda quas earum molestiae saepe, alias eligendi mollitia! Libero mollitia facilis repudiandae dolore eum sapiente molestiae earum!</p>
      </section>
</div>