<app-header-system></app-header-system>
<div class="flex flex-row flex-grow px-4 gap-4">
    <div class="flex-shrink-0">
        <app-nav-bar-system></app-nav-bar-system>
    </div>

    <p>Aqui o usuário vai poder cadastrar todas os valores que ele tem previsão de receber, com valor, data... e terá um botão
        efetuar o recebimento ai o sistema irá fazer o cadastro dessa receita o usuario terá que informar a conta que entrará
        o valor nesse momento</p>

</div>



<app-footer class="mt-auto"></app-footer>