<div class="min-h-screen flex flex-col bg-[#1e1e1e]">
    <p-splitter [style]="{ height: '100px' }" styleClass="mb-8" layout="vertical">
        <ng-template pTemplate="1">
            <div class="flex items-center justify-center h-full text-white">
                D3 Finance
            </div>
        </ng-template>
    </p-splitter>

    <div class="relative flex-grow">
        <div class="absolute top-0 left-4 z-10">
            <app-nav-bar-system></app-nav-bar-system>
            <p-toast></p-toast>
        </div>

        <div class="flex flex-col flex-grow space-y-6 items-center">
            <p-card header="Cadastrar Despesas" class="w-96">
                <div class="card flex justify-center">
                    <div class="flex flex-col gap-2">
                        <label for="dataRecebimento">Categoria da despesa<span class="asterisco">*</span></label>
                        <p-select [options]="categoriaDaDespesa" [(ngModel)]="requestDespesa.categoria"
                            optionLabel="name" optionValue="name" placeholder="Categoria da Despesa"
                            class="w-full md:w-64" />
                    </div>
                </div>
                <p-fluid class="card flex justify-center">
                    <div class="flex flex-col gap-2 w-64">
                        <label for="currency-br">
                            Valor da Despesa<span class="asterisco">*</span>
                        </label>
                        <p-inputnumber [(ngModel)]="requestDespesa.valor_pago" inputId="currency-br" mode="currency"
                            currency="BRL" locale="pt-BR" />
                    </div>
                </p-fluid>
                <div class="card flex justify-center">
                    <div class="flex flex-col gap-2">
                        <label for="dataPagamento">Data de pagamento<span class="asterisco">*</span></label>
                        <p-datepicker id="dataPagamento" [(ngModel)]="requestDespesa.data_pagamento" required
                            [showButtonBar]="true" class="w-64" [dateFormat]="'dd/mm/yy'" placeholder="dd/mm/aaaa" [showIcon]="true" />
                    </div>
                </div>
                <div class="card flex justify-center">
                    <div class="flex flex-col gap-2">
                        <label for="formaPagamento">Forma de pagamento<span class="asterisco">*</span></label>
                        <p-select [options]="formaDeRecebimento" [(ngModel)]="requestDespesa.forma_pagamento"
                            optionLabel="name" optionValue="name" placeholder="Forma de pagamento"
                            class="w-full md:w-64" />
                    </div>
                </div>
                <div class="card flex justify-center">
                    <div class="flex flex-col gap-2">
                        <label for="conta">Conta<span class="asterisco">*</span></label>
                        <p-select [options]="contaDestino" [(ngModel)]="requestDespesa.conta_id" optionLabel="name"
                            optionValue="id" placeholder="Conta origem" class="w-full md:w-64" />
                    </div>
                </div>
                <div class="card flex justify-center">
                    <div class="flex flex-col gap-2">
                        <label for="dataRecebimento">Descrição</label>
                        <textarea rows="3" cols="28" pTextarea [autoResize]="true"
                            [(ngModel)]="requestDespesa.descricao"></textarea>
                    </div>
                </div>
                <div class="card flex justify-center">
                    <div class="flex flex-col gap-2">
                        <a href="#">
                            <div class="flex gap-4 mt-1">
                                <p-button (click)="doCadastroDespesas()" label="Cadastrar" class="w-full md:w-64"
                                    styleClass="w-full" />
                            </div>
                        </a>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
    <app-footer class="mt-auto"></app-footer>
</div>