* {
    font-family: fantasy;
    font-size: 24px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 40px 4%;
    background: transparent;
    border: 5px solid rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

.btn-login button {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: black;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 2s;
    border-radius: 10px;
}

header ul li a {
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

header ul li:hover {
    transform: scale(1.1);
}

header ul li a:hover {
    color: white;
    background-color: black;
    transition: 1s;
    text-decoration: underline;
}

.btn-login button:hover {
    color: white;
    background-color: black;
    transition: 1s;
    transform: scale(1.1);
    text-decoration: underline;
}