<header>
    <div class="container">
        <div class="flex">
            <a href="/tcc/public/logo.jpg">Logo</a>
            <nav>
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/cadastro">CADASTRAR</a></li>
                    <li><a href="/contato">CONTATO</a></li>
                </ul>
            </nav>
            <div class="btn-login">
                <a href="/login"><button>LOGIN</button></a>
            </div>
        </div>
    </div>
</header>