<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="wrapper">
           <form action="">
                <h1>Faça seu Cadastro</h1>
                <div class="input-box">
                    <p-floatlabel variant="in">
                        <input pInputText id="in_label" [(ngModel)]="nome" autocomplete="on" />
                        <label for="in_label">Seu nome</label>
                    </p-floatlabel>
                </div>
                <div class="input-box">
                    <label for="">E-Mail</label>
                    <input type="email" placeholder="Digite seu e-mail" required>
                </div>
                <div class="input-box">
                    <label for="">CPF</label>
                    <input type="number" placeholder="Digite seu CPF" required>
                </div>
                <div class="input-box">
                    <label for="">Data de Nascimento</label>
                    <input type="date" required>
                </div>
                <div class="input-box">
                    <label for="">Username</label>
                    <input type="text" placeholder="Digite seu Username" required>
                </div>
                <div class="input-box">
                    <label for="">Senha</label>
                    <input type="password" placeholder="Digite uma senha" required>
                </div>
                <div class="input-box">
                    <label for="">Confirme sua senha</label>
                    <input type="password" placeholder="Digite novamente a senha" required>
                </div>
                <div class="input-box">
                    <label for="">CEP</label>
                    <input type="text" placeholder="Digite seu CEP" required>
                </div>
                
                <button type="submit" class="btn">Cadastrar</button>
               
           </form>
    </div>
</div>
