<app-nav-bar></app-nav-bar>

<p-stepper [(value)]="activeStep" class="basis-[40rem]">
    <p-step-list>
        <p-step [value]="1" class="flex flex-row flex-auto gap-2">
            <ng-template #content let-activateCallback="activateCallback" let-value="value">
                <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                    <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center" [ngClass]="{
                                'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                'border-surface': value > activeStep
                            }">
                        <i class="pi pi-user"></i>
                    </span>
                </button>
            </ng-template>
        </p-step>

        <p-step [value]="2" class="flex flex-row flex-auto gap-2">
            <ng-template #content let-activateCallback="activateCallback" let-value="value">
                <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                    <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center" [ngClass]="{
                                'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                'border-surface': value > activeStep
                            }">
                        <i class="pi pi-user"></i>
                    </span>
                </button>
            </ng-template>
        </p-step>

        <p-step [value]="3" class="flex flex-row flex-auto gap-2">
            <ng-template #content let-activateCallback="activateCallback" let-value="value">
                <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                    <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center" [ngClass]="{
                                'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                'border-surface': value > activeStep
                            }">
                        <i class="pi pi-user"></i>
                    </span>
                </button>
            </ng-template>
        </p-step>
    </p-step-list>

    <p-step-panels>
        <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col gap-2 mx-auto" style="min-height: 16rem; max-width: 20rem">
                    <div class="text-center mt-4 mb-4 text-xl font-semibold">Informações Pessoais</div>
                    <div class="flex flex-col gap-2">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]="usuario.nome" pInputText id="nome" type="text" placeholder="Nome" fluid />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="email">E-mail</label>
                        <input [(ngModel)]="usuario.email" pInputText id="email" type="email" placeholder="E-mail" fluid />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="cpf">CPF</label>
                        <p-inputMask mask="999.999.999-99" id="cpf" [(ngModel)]="usuario.cpf" placeholder="000.000.000-00"
                            aria-describedby="CPF-help" required />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="dataNascimento">Data de Nascimento</label>
                        <p-datepicker id="dataNascimento" [(ngModel)]="usuario.dataNascimento" required
                            [showButtonBar]="true" />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="escSexo">Sexo</label>
                        <p-select [options]="sexoOptions" [(ngModel)]="usuario.selectedSexo" [checkmark]="true" optionLabel="EscSexo"
                            [showClear]="true" placeholder="Selecione o Sexo" class="w-full md:w-56" />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="cargo">Profissão</label>
                        <input [(ngModel)]="usuario.cargo" pInputText id="cargo" type="text" placeholder="Profissão" fluid />
                    </div>
                </div>
                <div class="flex pt-6 justify-end mr-2">
                    <p-button (onClick)="activateCallback(2)" label="Próximo" icon="pi pi-arrow-right"
                        iconPos="right" />
                </div>
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col gap-2 mx-auto" style="min-height: 16rem; max-width: 24rem">
                    <div class="text-center mt-4 mb-4 text-xl font-semibold">Informações da Empresa/Endereço</div>
                    <div class="flex flex-col gap-2">
                        <label for="cnpj">CNPJ</label>
                        <p-inputMask mask="99.999.999/9999-99" id="cnpj" [(ngModel)]="usuario.cnpj"
                            placeholder="00.000.000/0000-00" aria-describedby="CNPJ-help" required />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="nomeEmpresa">Razão Social</label>
                        <input pInputText id="nomeEmpresa" [(ngModel)]="usuario.nomeEmpresa" placeholder="Nome da Empresa"
                            required />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="cep">CEP</label>
                        <p-inputMask mask="99.999-999" id="cep" [(ngModel)]="usuario.cep" placeholder="00.000-000"
                            aria-describedby="CEP-help" required (onBlur)="buscarEndereco()" />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="estado">Estado/UF</label>
                        <input pInputText id="estado" [(ngModel)]="usuario.endereco.uf" placeholder="Estado" required />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="cidade">Cidade</label>
                        <input pInputText id="cidade" [(ngModel)]="usuario.endereco.localidade" placeholder="Cidade" required />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="bairro">Bairro</label>
                        <input pInputText id="bairro" [(ngModel)]="usuario.endereco.bairro" placeholder="Bairro" required />
                    </div>
                </div>
                <div class="flex pt-6 justify-between">
                    <p-button (onClick)="activateCallback(1)" label="Voltar" severity="secondary"
                        icon="pi pi-arrow-left" />
                    <p-button (onClick)="activateCallback(3)" label="Próximo" icon="pi pi-arrow-right"
                        iconPos="right" />
                </div>
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col gap-2 mx-auto" style="min-height: 16rem; max-width: 24rem">
                    <div class="text-center mt-4 mb-4 text-xl font-semibold">Informações de Perfil/Login</div>
                    <div class="text-center">
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]="usuario" pInputText id="usuario" type="text" placeholder="Usuário" fluid />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="password">Senha</label>
                        <p-password [(ngModel)]="usuario.password" placeholder="Senha" fluid id="password" />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="confirmarSenha">Confirmar Senha</label>
                        <p-password [(ngModel)]="usuario.confirmarSenha" placeholder="Confirmar Senha" fluid
                            id="confirmarSenha" />
                    </div>
                </div>

                <div class="flex pt-6 justify-between">
                    <p-button (onClick)="activateCallback(2)" label="Voltar" severity="secondary"
                        icon="pi pi-arrow-left" />
                    <p-button (onClick)="activateCallback(3)" label="Cadastrar" icon="pi pi-arrow-right"
                        iconPos="right" />
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>




<app-footer></app-footer>